// use a patient-specific workdir
workDir = '/n/scratch/users/a/alg2264/nextflow_tmp_LM42'

//Use the params to define reference files, directories, and CLI options
params {

    // define variables for this specific patient
    fq_prefix = ["3A", "3B", "3C", "3D", "3E", "3F", "3G", "3H", "4A", "4B", "4C", "4D"]
    sample_index = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
    sample = ["PT1B", "PT1C", "PT2A", "PT2B", "PT2C", "PT2D", "N1", "PM2d", "PM6", "AW1d", "PM7a", "PM8a"]
    normal_sample = 'N1'
    patient = 'LM42'
    mt_label = 'chrM'
    sex = "XY" 
    build = "hg38" 
    fq_dir = "/n/data1/hms/genetics/naxerova/lab/alex/azenta/30-1136465519_WES_LM31_34_42/00_fastq"

    // patient-specific tmp directory, create this!
    tmp_dir = "/n/scratch/users/a/alg2264/LM42"

    // patient-specific output data directories. These should be created automatically
    bam_dir = "/n/data1/hms/genetics/naxerova/lab/alex/peritoneal_revision_WES/LM42/bams"
    output_dir = "/n/data1/hms/genetics/naxerova/lab/alex/peritoneal_revision_WES/LM42/output"
    maf_dir = "/n/data1/hms/genetics/naxerova/lab/alex/peritoneal_revision_WES/LM42/mafs"
    mosdepth_dir = "/n/data1/hms/genetics/naxerova/lab/alex/peritoneal_revision_WES/LM42/mosdepth"
    mtbam_dir = "/n/data1/hms/genetics/naxerova/lab/alex/peritoneal_revision_WES/LM42/mtbams"
    haplocheck_dir = "/n/data1/hms/genetics/naxerova/lab/alex/peritoneal_revision_WES/LM42/haplocheck"
    ascat_dir = "/n/data1/hms/genetics/naxerova/lab/alex/peritoneal_revision_WES/LM42/ascat"

    // required configs for O2 from HMS
    config_profile_description = 'HMS RC test nextflow/nf-core config'
    config_profile_contact = 'rchelp@hms.harvard.edu'
    config_profile_url = 'rc.hms.harvard.edu'
    max_memory = 250.GB
    max_cpus = 20
    max_time = 30.d
}

profiles {

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }

    cluster {
        process {
            executor = 'slurm'
            cache = 'lenient'
            queue = { task.time > 5.d ? 'long' : task.time <= 12.h ? 'short' : 'medium'}
        }
    }

    local {
        process.executor = 'local'
    }
}

executor {
    $slurm {
        queueSize = 1900
        submitRateLimit = '20 sec'
    }
}

//Miscellaneous CLI flags
resume = true

