
//Use the params to define reference files, directories, and CLI options
params {

    // required configs for O2 from HMS
    config_profile_description = 'HMS RC test nextflow/nf-core config'
    config_profile_contact = 'rchelp@hms.harvard.edu'
    config_profile_url = 'rc.hms.harvard.edu'
    max_memory = 250.GB
    max_cpus = 20
    max_time = 30.d
}

profiles {

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }

    cluster {
        process {
            executor = 'slurm'
            cache = 'lenient'
            queue = { task.time > 5.d ? 'long' : task.time <= 12.h ? 'short' : 'medium'}
        }
    }

    local {
        process.executor = 'local'
    }
}

executor {
    $slurm {
        queueSize = 1900
        submitRateLimit = '20 sec'
    }
}

//Miscellaneous CLI flags
//resume = true
//workDir = '/n/scratch/users/a/alg2264/nextflow/work_dir'
